S3method(coef,jags_analysis)
S3method(fitted,jags_analysis)
S3method(plot,jags_analysis)
S3method(predict,jags_analysis)
S3method(print,jags_analysis)
S3method(print,jags_model)
S3method(print,summary_jags_analysis)
S3method(residuals,jags_analysis)
S3method(summary,jags_analysis)
export(convergence)
export(dataset)
export(jags_analysis)
export(jags_model)
export(options_jaggernaut)
export(opts_jagr)
import(abind)
import(coda)
import(foreach)
import(rjags)
