S3method(calc_convergence,janalysis)
S3method(calc_estimates,janalysis)
S3method(calc_expected,janalysis)
S3method(dic,janalysis)
S3method(plot,janalysis)
S3method(summary,janalysis)
export(base_values)
export(calc_convergence)
export(calc_estimates)
export(calc_expected)
export(dic)
export(janalysis)
export(jmodel)
export(plot.janalysis)
export(summary.janalysis)
